/* ------------- Body ----------------*/
body{
    background-color: #ffffff;

}

/*-------------- Home Page ------------*/
.jumbotron {
    background-color: url('/images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
}

.navbar:link {
    text-decoration: none;

}

.logo {
    margin-left: 10px;
}

/*--------------  ------------*/



/*-------------- Shop page ------------*/
.header-shop {
    height: 40px;
    padding-left: 20px;
}
.ariane{
    margin-top: 25px;
}


.basket-img {
    width: 100px;
}

.total-box {
    font-weight: bold;
}

.btn-checkout {
    font-weight: bold;
    
}

